*.egg-info
*.so
*.aux
*.pdf
*.log
*.out
*.gz
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.toc
*.lof
*.lot
*.bcf
*.nav
*.snm
*.zip
*.idx
*.ptc
*.run.xml
local
.vscode
__pycache__
*.spl
*.acn
*.glo
*.ist
*.pyg